# Análisis de Datos
pandas
openpyxl

# Extracción de Datos (Soberanía tecnológica - Sin APIs oficiales)
yt-dlp

# Servidor de Visualización (Opcional para el Dashboard)
fastapi
uvicorn

# Base de Datos
psycopg2-binary
